@let _company = company();
<scrollbar>
    <div class="row">
        <div class="col-md-3">
            <div class="card mb-3">
                <div class="card-header p-1 d-flex">
                    <list-group-item-contact class="flex-fill text-truncate" [contact]="_company" [nx]="_company" [showQuickContact]="true" routerLink="."> </list-group-item-contact>
                    <div roles="project_manager|marketing">
                        <button class="card-header-action btn text-primary" type="submit" (click)="onAddEmployee()" title="add" i18n-title="@@i18n.common.add">
                            <i class="text-primary">add</i>
                        </button>
                    </div>
                </div>
                @for (_ of _company.employees; track _.id) {
                <list-group-item-contact [contact]="_" [nx]="_" [role]="_.role()" [showQuickContact]="true" routerLink="./{{_.id}}" routerLinkActive #rla="routerLinkActive" [routerLinkActiveOptions]="{ exact: true }" [active]="rla.isActive"> </list-group-item-contact>
                }
            </div>
        </div>
        <div class="col-md-6">
            <router-outlet></router-outlet>
            <app-vcard [object]="_company"></app-vcard>
        </div>
        <div class="col-md-3">
            @let _employee = _company.var.selectedEmployee;
            @if (_employee) {
                <contact-employments [card]="_employee"></contact-employments>
                <div class="card sticky-side">
                    <div class="card-header" i18n="@@i18n.common.projects">projects</div>
                    <div class="card-body">
                        <ul class="list-group">
                            @for (p of _employee.projects; track p.id) {
                            <nx [title]="p.name" [nx]="p" [tables]="_employee.projects">
                                <project [project]="p"></project>
                            </nx>
                            }
                        </ul>
                    </div>
                </div>
            } @else {
            <div class="card">
                <div class="card-header" i18n="@@i18n.common.companyInformation">company information</div>
                <div class="card-body">
                    <div class="form-floating w-100 mb-2">
                        <input type="text" class="form-control" tabindex="1" [autosave]="_company" [(ngModel)]="_company.vat_id" placeholder="" />
                        <div i18n="@@i18n.common.VATID">VAT-ID</div>
                    </div>
                    <div class="form-floating w-100 mb-2">
                        <input type="text" class="form-control" tabindex="2" [autosave]="_company" [(ngModel)]="_company.commercial_register" placeholder="" />
                        <div i18n="@@i18n.common.commercial_register">commercial_register</div>
                    </div>
                    <div class="form-floating w-100 mb-2">
                        <input type="text" class="form-control" tabindex="2" [autosave]="_company" [(ngModel)]="_company.managing_director" placeholder="" />
                        <div i18n="@@i18n.common.managing_director">managing_director</div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</scrollbar>
