@let _timeBased = timeBased();
@let _customerSupport = customerSupport();
@let _preparedInvoices = preparedInvoices();

@if (_timeBased.length) {
    <div class="header hstack gap-2">
        <i>schedule</i>
        <span class="flex-fill" i18n="@@i18n.common.timeBased">time based</span>
        <i class="pointer" tabindex="0" (click)="toggle('timeBased')" (keyup.enter)="toggle('timeBased')">{{ isCollapsed('timeBased') ? 'expand_less' : 'expand_more' }}</i>
    </div>
    @if (!isCollapsed('timeBased')) {
        <ul class="list-group">
            @for (_ of _timeBased; track _.id) {
                <li class="list-group-item hstack gap-2 pointer" [nx]="_" [routerLink]="['/projects', _.id, 'support']">
                    <avatar [object]="_"></avatar>
                    <div class="flex-fill text-truncate">{{ _.getName() }}</div>
                    <span class="text-muted small text-nowrap">{{ _.uninvoiced_hours | number: '1.1-1' }}h</span>
                </li>
            }
        </ul>
    }
}

@if (_customerSupport.length) {
    <div class="header hstack gap-2">
        <i>support_agent</i>
        <span class="flex-fill" i18n="@@i18n.common.customerSupport">customer support</span>
        <i class="pointer" tabindex="0" (click)="toggle('customerSupport')" (keyup.enter)="toggle('customerSupport')">{{ isCollapsed('customerSupport') ? 'expand_less' : 'expand_more' }}</i>
    </div>
    @if (!isCollapsed('customerSupport')) {
        <ul class="list-group">
            @for (_ of _customerSupport; track _.id) {
                <li class="list-group-item hstack gap-2 pointer" [nx]="_" [routerLink]="['/customers', _.id, 'support']">
                    <avatar [object]="_"></avatar>
                    <div class="flex-fill text-truncate">{{ _.getName() }}</div>
                    <span class="text-muted small text-nowrap">{{ _.foci_unbilled_sum_duration | number: '1.1-1' }}h</span>
                </li>
            }
        </ul>
    }
}

@if (_preparedInvoices.length) {
    <div class="header hstack gap-2">
        <n>invoice</n>
        <span class="flex-fill" i18n="@@i18n.invoice.prepared">prepared</span>
        <i class="pointer" tabindex="0" (click)="toggle('preparedInvoices')" (keyup.enter)="toggle('preparedInvoices')">{{ isCollapsed('preparedInvoices') ? 'expand_less' : 'expand_more' }}</i>
    </div>
    @if (!isCollapsed('preparedInvoices')) {
        <ul class="list-group">
            @for (_ of _preparedInvoices; track _.id) {
                <li class="list-group-item hstack gap-2 pointer" [nx]="_" [routerLink]="_.class === 'Company' ? ['/customers', _.id, 'billing'] : ['/projects', _.id, 'invoicing', 'final']">
                    <avatar [object]="_"></avatar>
                    <div class="flex-fill text-truncate">{{ _.getName() }}</div>
                    <span class="text-muted small text-nowrap">{{ _.net_remaining | mshort }}</span>
                </li>
            }
        </ul>
    }
}
