<div class="btn-group dropdown form-control bg-transparent">
    <input #searchbox [ngModel]="query()" class="form-control show" type="search" placeholder="search" i18n-placeholder="@@i18n.common.search" (keydown)="onKeydown($event)" (input)="onInput($event)" (focus)="onFocus()" (blur)="onBlur()" role="combobox" aria-autocomplete="list" [attr.aria-expanded]="hasResults()" aria-controls="search-dropdown" autocomplete="off" />
    <scrollbar #dropdown id="search-dropdown" class="dropdown-menu fade start-0 overflow-auto" [class.show]="shouldShowDropdown()" [class.d-none]="!shouldShowDropdown()">
        @for (res of results(); track res.id; let i = $index) {
            <div class="dropdown-item hstack gap-2 pointer" (click)="selectItem(res, $event)" tabindex="0" (keydown.enter)="selectItem(res, $event)" (mousedown)="preventBlur($event)" (mouseenter)="setCurrentIndex(i)" [class.active]="i === currentIndex()" role="option" [attr.aria-selected]="i === currentIndex()">
                <div>
                    @if (res.assert(CompanyContact); as contact) {
                    <img class="list-group-icon avatar avatar-img avatar-xs" src="{{ res.getAvatar() }}" [ngbTooltip]="contact.company.getName()" alt="" />
                    } @else {
                    <img class="list-group-icon avatar avatar-img avatar-xs" src="{{ res.getAvatar() }}" alt="" />
                    }
                </div>
                <div class="text-truncate flex-fill"><span [innerHTML]="res.getName() | safe: 'html'"></span></div>
                @if (res.assert(Project); as project) {
                    <div>
                        <span class="badge" [style.backgroundColor]="project.state.color">{{ project.state.name }}</span>
                    </div>
                }
            </div>
        }
        <div #footer><ng-content></ng-content></div>
    </scrollbar>
</div>

@if (has_icon()) {
    <div class="avatar avatar-sm icon-avatar">
        @if (selected()) {
            <img src="{{ selected()?.getAvatar() }}" class="avatar-img" alt="" />
        }
    </div>
}
