<activity-tab icon="check_box">
    @let _user = user();
    <div class="container">
        @if (_user) {
            <scrollbar>
                @if (_user.hasRole('hr')) {
                    <tab-tasks-hr (countChanged)="onCount('hr', $event)"></tab-tasks-hr>
                }
                <tab-tasks-sentinels (countChanged)="onCount('sentinels', $event)"></tab-tasks-sentinels>
                @if (_user.hasRole('marketing')) {
                    <tab-tasks-remarketing></tab-tasks-remarketing>
                }
                <tab-tasks-milestones (countChanged)="onCount('milestones', $event)"></tab-tasks-milestones>
                @if (_user.hasRole('project_manager')) {
                    <tab-tasks-missing-git></tab-tasks-missing-git>
                }
                <tab-tasks-plugin-tasks></tab-tasks-plugin-tasks>
                @if (_user.hasRole('marketing')) {
                    <tab-tasks-marketing-activities></tab-tasks-marketing-activities>
                }
            </scrollbar>
        }
    </div>
</activity-tab>
