@use 'sass:map';
@use 'colors';
@use 'var';

.nx {
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-transition: background-color 0.05s linear;
    -ms-transition: background-color 0.05s linear;
    -moz-transition: background-color 0.05s linear;
    transition: background-color 0.05s linear;
    cursor: context-menu;
    &:hover { background-color: rgba(colors.$primary, 0.1) !important; }
    &.active { background-color: rgba(colors.$primary, 0.2) !important; }
    &.active:hover { background-color: rgba(colors.$primary, 0.3) !important; }
    li {
        cursor: pointer;
    }
    &.avatar:hover {
        box-shadow: 0 0 3px rgba(colors.$primary, 1) !important;
    }
    &.avatar.active img {
        border: 3px colors.$primary solid;
    }

    rect, path, circle, ellipse, line, polyline, polygon {
        transition: stroke 0.2s, fill 0.2s, opacity 0.2s;
    }

    &:hover rect:not([fill="transparent"]),
    &:hover path:not([fill="none"]),
    &:hover circle:not([fill="transparent"]),
    &:hover ellipse,
    &:hover polygon {
        filter: brightness(1.1);
    }

    &.active rect:not([fill="transparent"]),
    &.active path:not([fill="none"]),
    &.active circle:not([fill="transparent"]),
    &.active ellipse,
    &.active polygon {
        stroke: colors.$primary;
        stroke-width: 3;
        opacity: 1;
    }
}
nx-contextmenu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
}
nx-dropdown {
    li {
        cursor: pointer;
        position: relative;
        text-transform: capitalize;
    }
}

.nx-dropdown li {
    cursor: pointer;
}