@let _data = data();
<div class="card card-chart mb-3" [style.overflow]="onlyChart() ? 'hidden' : 'visible'">
    <div class="card-header gap-2">
        <n>project</n>
        <span class="flex-fill text-truncate" i18n="@@i18n.common.projects">projects</span>
        <div class="chart-title" roles="invoicing">{{ value() ? (value()! | mshort) : (value() | loading) }}</div>
    </div>

    @if (hasInvoicesModule()) {
        <echarts-range-card type="rangeArea" [chartData]="chartData()" [suffix]="' ' + global.currencySymbol()" color="blue"></echarts-range-card>
    }

    <widget-options [options]="getOptions()" (updated)="_onUpdate($event)" (deleted)="onDelete($event)"></widget-options>

    @if (!getOptions()['chart-only']?.value && !onlyChart()) {
        <ul-compact [badge]="badgeCount(_data) > 0 ? '' + badgeCount(_data) : undefined">
            @for (_ of _data; track _.id; let i = $index) {
                <li class="list-group-item d-flex text-nowrap {{ _.markerClass() }}" [compact]="indexExceedsSettings(i) && !_.getBadge()" [nx]="_" [tables]="_data">
                    <div>
                        <avatar [object]="_"></avatar>
                    </div>
                    <div class="flex-fill ms-3 text-truncate">
                        <div class="d-flex text-truncate">
                            <div class="flex-fill text-truncate">{{ _.name }}</div>
                            <div class="text-muted" roles="invoicing" ngbTooltip="{{ (_.foci_sum ?? 0) / _.hours_invested | percent }} of time is without focus item">{{ _.net_remaining | mshort }}</div>
                        </div>
                        <progress-bar [style]="'blue'" [progress]="_.progress()" ngbTooltip="{{ _.progress() | percent }}"></progress-bar>
                    </div>
                </li>
            }
        </ul-compact>
    }
</div>
