<div class="card card-chart mb-3">
    <div class="card-header gap-2">
        <n>invoice</n>
        <span class="flex-fill text-truncate" i18n="@@i18n.invoice.prepared">prepared</span>
        @if (value()) {
            <div class="chart-title">{{ (value() ?? 0) | mshort }}</div>
        }
    </div>

    <echarts-range-card type="rangeArea" keyPath="params/CASHFLOW_INVOICES_PREPARED" [suffix]="' ' + global.currencySymbol()" roles="financial" color="teal" cardTitle="prepared invoices"></echarts-range-card>

    <widget-options [options]="getOptions()" (updated)="_onUpdate($event)" (deleted)="onDelete($event)"></widget-options>

    @if (!getOptions()['chart-only']?.value) {
        <ul-compact>
            @for (_ of data(); track _.id; let i = $index) {
                <li class="list-group-item d-flex text-nowrap" [compact]="exceedsMaxItems(i)" [nx]="_" context="widgetPreparedInvoices" [tables]="data()">
                    @if (_.class === 'Company') {
                        <div>
                            <avatar [object]="_"></avatar>
                        </div>
                        <div class="flex-fill ms-3 text-truncate">
                            <div class="d-flex text-truncate">
                                <div class="flex-fill text-truncate">{{ _.getName() }}</div>
                                <div class="text-muted">{{ getAppliedNet(_) | mshort }}</div>
                            </div>
                        </div>
                    }
                    @if (_.class === 'Project') {
                        <div>
                            <project [project]="asProject(_)"></project>
                        </div>
                        <div class="flex-fill ms-3 text-truncate">
                            <div class="d-flex text-truncate">
                                <div class="flex-fill text-truncate">{{ _.getName() }}</div>
                                <div class="text-muted">{{ getAppliedNet(_) | mshort }}</div>
                            </div>
                        </div>
                    }
                </li>
            }
        </ul-compact>
    }
</div>
