@if (!isInvoice() && allowedNewItems().length) {
<toolbar>
    <div class="btn-group" ngbDropdown>
        @if (hasNewSet('item')) {
        <button type="button" class="btn btn-primary" (click)="onNewItem()" ngbTooltip="CTRL+ALT+N" hotkey="CTRL+ALT+N"><i>add</i><span i18n="invoice item|short description for invoice item@@i18n.invoice.item">item</span></button>
        }
        <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" ngbDropdownToggle>
            <span class="visually-hidden" i18n="@@i18n.invoices.toggleDropdown">toggle dropdown</span>
        </button>
        <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
            @if (!company() && hasNewSet('paydown')) {
            <button class="dropdown-item hstack gap-2" (click)="onNewPaydown()" hotkey="CTRL+ALT+P">
                <span class="flex-fill me-2" i18n="@@i18n.common.paydown">paydown</span>
                <span class="text-muted">CTRL+ALT+P</span>
            </button>
            } @if (hasNewSet('group')) {
            <button class="dropdown-item hstack gap-2" (click)="onNewGroup()" hotkey="CTRL+ALT+G">
                <span class="flex-fill me-2" i18n="@@i18n.common.group">group</span>
                <span class="text-muted">CTRL+ALT+G</span>
            </button>
            } @if (hasNewSet('discount')) {
            <button class="dropdown-item hstack gap-2" (click)="onNewDiscount()" hotkey="CTRL+ALT+D">
                <span class="flex-fill" i18n="@@i18n.common.discount">discount</span>
                <span class="text-muted">CTRL+ALT+D</span>
            </button>
            }
        </div>
    </div>
</toolbar>
}

<div class="card">
    <table stackedTable class="table mb-0 table-ext">
        <colgroup>
            <col style="width: 0px" />
            <col style="width: 30px" />
            <col />
            <col style="width: 100px" />
            <col style="width: 80px" />
            <col style="width: 100px" />
        </colgroup>
        <thead>
            <tr>
                <th class="p-0"></th>
                <th>#</th>
                <th i18n="@@i18n.common.description">description</th>
                <th class="text-end" i18n="@@i18n.common.price">price</th>
                <th class="text-end" i18n="@@i18n.common.qty">qty</th>
                <th class="text-end" i18n="@@i18n.common.total">total</th>
            </tr>
        </thead>
        <tbody cdkDropList (cdkDropListDropped)="onDrop($event)">
            @if (loading()) {
            <tr>
                <td colspan="6" class="text-center py-5">
                    <spinner [size]="48" [centered]="true"></spinner>
                </td>
            </tr>
            } @for (item of regularItems(); track ('regularItems:' + item.track_id); let i = $index) {
            <tr cdkDrag [nx]="item" [tables]="_items()" [nxContext]="{company: companyRef()}" cdkDragLockAxis="y" invoice-item-row [company]="effectiveCompany()" [item]="item" [annotationType]="annotationType()" [extIssues]="extIssues()" (singleActionResolved)="singleActionResolved($event)" class="{{item.markerClass()}}"></tr>
            } @if (lastGroup()) {
            <tr>
                <td class="small text-end" colspan="6">{{lastGroup()!.var.sum | money}}</td>
            </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="1"></td>
                <td colspan="4" i18n="@@i18n.common.net">net</td>
                <td class="text-end">{{net() | money}}</td>
            </tr>
            @for (v of vat(); track ('vat:' + v.title)) {
            <tr>
                <td colspan="2"></td>
                <td colspan="3">{{v.title}}</td>
                <td class="text-end text-muted">{{v.value | money}}</td>
            </tr>
            }
            <tr>
                <td colspan="1"></td>
                <td colspan="4" i18n="@@i18n.common.gross">gross</td>
                <td class="text-end">{{gross() | money}}</td>
            </tr>
            @if (instalmentItems().length) { @for (i of instalmentItems(); track ('instalments:' + i.track_id)) {
            <tr [nx]="i" [tables]="_items()" (actionsResolved)="reload()">
                <td colspan="2"></td>
                <td colspan="3">{{i.text}}</td>
                <td class="text-end text-muted">{{i.gross | money}}</td>
            </tr>
            }
            <tr>
                <td colspan="1"></td>
                <td colspan="4" i18n="@@i18n.common.remaining">remaining</td>
                <td class="text-end">{{remaining() | money}}</td>
            </tr>
            }
            <tr class="sticky-footer selection-row" [class.d-none]="selection().length === 0">
                <td colspan="2"></td>
                <td>
                    <span i18n="@@i18n.common.selection">selection</span>
                    @if (selectionNotTimeBasedCount()) {
                    <span class="text-muted small ms-2" i18n-ngbTooltip="@@i18n.invoices.notTimeBasedSelection" ngbTooltip="items whose unit could not be mapped to a time-based quantity">
                        {{selectionNotTimeBasedCount()}} n/a ({{selectionNotTimeBasedNet() | money}})
                    </span>
                    }
                </td>
                <td class="text-end">{{selectionHours() | number:'1.0-2'}} h</td>
                <td class="text-end">{{selectionQty() | number:'1.0-2'}} PT</td>
                <td class="text-end">{{selectionNet() | money}}</td>
            </tr>
        </tfoot>
    </table>
</div>
<ng-template #dragHandleTmpl>
    <svg class="bi bi-list handle" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M2.5 11.5A.5.5 0 013 11h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5zm0-4A.5.5 0 013 7h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5zm0-4A.5.5 0 013 3h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5z" clip-rule="evenodd" />
    </svg>
</ng-template>
