@let _project = parent.object();
<div class="card mb-3 p-2">
    <div roles="project_manager">
        <input type="text" class="form-control-header" tabindex="1" [autosave]="_project" [(ngModel)]="_project.name" />
    </div>

    <div noroles="project_manager">
        <div class="input-group">
            <div class="input-group-text input-group-text-plain" i18n="@@i18n.common.title">title</div>
            <div class="input-group-text input-group-text-plain">{{ _project.name }}</div>
        </div>
    </div>
</div>

<div class="card mb-3">
    <div class="card-header" i18n="@@i18n.common.general">general</div>
    <ul class="list-group">
        <parent-project-selector></parent-project-selector>

        <!-- next reminder -->
        <ng-template #reminderFooter>
            <div class="d-flex justify-content-center border-top py-1">
                <button class="btn btn-sm text-muted" type="button" (click)="clearDate('remind_at'); d.close()" i18n="@@i18n.common.clear">clear</button>
            </div>
        </ng-template>
        <li class="hstack gap-2 py-1 px-2" roles="project_manager">
            <div class="input-group">
                <div class="input-group-text input-group-text-darker">
                    <i i18n-ngbTooltip="@@i18n.common.reminder" ngbTooltip="reminder">notifications_active</i>
                </div>
                <input class="form-control flex-fill" (click)="d.toggle()" tabindex="0" (keydown.enter)="d.toggle()" container="body" [footerTemplate]="reminderFooter" (dateSelect)="updateDate('remind_at', $event)" placeholder="yyyy-mm-dd" [(ngModel)]="_project.remind_at" ngbDatepicker #d="ngbDatepicker" />
                <button class="btn text-primary" (click)="d.toggle()" tabindex="0" (keydown.enter)="d.toggle()" type="button"><i>calendar_month</i></button>
            </div>
        </li>
        <li class="hstack gap-2 py-1 px-2" noroles="project_manager">
            <div class="input-group">
                <div class="input-group-text input-group-text-plain">
                    <i i18n-ngbTooltip="@@i18n.common.reminder" ngbTooltip="reminder">notifications_active</i>
                </div>
                <div class="input-group-text input-group-text-darker">{{ _project.remind_at | date }}</div>
            </div>
        </li>

        <!-- Deadline -->
        <ng-template #deadlineFooter>
            <div class="d-flex justify-content-center border-top py-1">
                <button class="btn btn-sm text-muted" type="button" (click)="clearDate('due_at'); deadline.close()" i18n="@@i18n.common.clear">clear</button>
            </div>
        </ng-template>
        <li class="hstack gap-2 py-1 px-2" roles="project_manager">
            <div class="input-group">
                <div class="input-group-text input-group-text-darker">
                    <i i18n-ngbTooltip="@@i18n.common.deadline" ngbTooltip="deadline">circle_notifications</i>
                </div>
                <input class="form-control flex-fill" (click)="deadline.toggle()" tabindex="0" (keydown.enter)="deadline.toggle()" container="body" [footerTemplate]="deadlineFooter" (dateSelect)="updateDate('due_at', $event)" placeholder="yyyy-mm-dd" [(ngModel)]="_project.due_at" ngbDatepicker #deadline="ngbDatepicker" />
                <button class="btn text-primary" (click)="deadline.toggle()" tabindex="0" (keydown.enter)="deadline.toggle()" type="button"><i>calendar_month</i></button>
            </div>
        </li>
        <li class="hstack gap-2 py-1 px-2" noroles="project_manager">
            <div class="input-group">
                <div class="input-group-text input-group-text-darker">
                    <i i18n-ngbTooltip="@@i18n.common.deadline" ngbTooltip="deadline">circle_notifications</i>
                </div>
                <div class="input-group-text input-group-text-plain">{{ _project.due_at | date }}</div>
            </div>
        </li>

        @if (!_project.is_time_based && !_project.is_internal) {
            <li class="hstack gap-2 py-1 px-2" roles="invoicing">
                <div class="input-group">
                    <div class="input-group-text input-group-text-darker">
                        <i i18n-ngbTooltip="@@i18n.common.targetWage" ngbTooltip="targetWage">paid</i>
                    </div>
                    <input type="text" class="form-control" tabindex="1" [autosave]="_project" [(ngModel)]="_project.target_wage" />
                </div>
            </li>
        }

        @if (!_project.is_internal) {
            <li class="form-switch mx-3 hstack gap-2" roles="project_manager">
                <input class="form-check-input me-3" type="checkbox" role="switch" value="1" (change)="onProjectUpdate()" [(ngModel)]="_project.is_time_based" id="is_time_based" />
                <div for="is_time_based" i18n="@@i18n.common.timeBased">time based</div>
            </li>
        }

        <li class="form-switch mx-3 hstack gap-2" roles="project_manager">
            <input class="form-check-input me-3" type="checkbox" role="switch" value="1" (change)="onProjectUpdate()" [(ngModel)]="_project.is_internal" id="is_internal" />
            <div for="is_internal" i18n="@@i18n.project.internal">internal project</div>
        </li>

        <li class="form-switch mx-3 hstack gap-2" roles="project_manager">
            <input class="form-check-input me-3" type="checkbox" role="switch" value="1" (change)="onProjectUpdate()" [(ngModel)]="_project.no_git_required" id="no_git_required" />
            <div for="no_git_required" i18n="@@i18n.project.noGitRequired">no git required</div>
        </li>

        <li class="d-flex m-3" noroles="project_manager">
            @if (_project.is_internal) {
                <span class="badge bg-primary" i18n="@@i18n.project.internal">internal project</span>
            }
            @if (_project.is_time_based) {
                <span class="badge bg-primary" i18n="@@i18n.common.timebased">time-based</span>
            }
            @if (_project.no_git_required) {
                <span class="badge bg-secondary" i18n="@@i18n.project.noGitRequired">no git required</span>
            }
        </li>

        @if (global.user?.hasRole('invoicing')) {
            <li class="form-switch mx-3 hstack gap-2">
                <input class="form-check-input me-3" type="checkbox" role="switch" value="1" (change)="onIndividualWageToggle($event)" [checked]="_project.hasIndividualWage()" id="has_individual_wage" />
                <div for="has_individual_wage" i18n="@@i18n.projects.individualWage">individual wage</div>
            </li>
            <li class="d-flex">
                @if (_project.hasIndividualWage()) {
                    <div class="input-group p-2">
                        <input class="form-control flex-fill" [autosave]="_project" [(ngModel)]="_project.individual_wage" [suffix]="global.currencySymbol()" />
                    </div>
                }
            </li>
        }
        <project-default-product [project]="_project"></project-default-product>
    </ul>
</div>

@if (global.user?.hasRole('invoicing')) {
    <div class="card mb-3">
        <div class="card-header">
            <span i18n="@@i18n.invoice.paymentTerms">payment terms</span>
        </div>
        <ul class="list-group">
            <li class="list-group-item list-group-item-action d-flex py-1">
                <div class="text-muted me-2" ngbTooltip="payment duration" i18n-ngbTooltip="@@i18n.invoice.paymentDuration">
                    <i>timelapse</i>
                </div>
                <div (click)="onChangePaymentDuration()" (keyup.enter)="onChangePaymentDuration()" tabindex="0" class="pointer flex-fill">
                    @if (_project.getParam('INVOICE_PAYMENT_DURATION')) {
                        <span>{{ _project.getParam('INVOICE_PAYMENT_DURATION') }} <span i18n="@@i18n.common.days">days</span></span>
                    }
                    @if (!_project.getParam('INVOICE_PAYMENT_DURATION')) {
                        <span class="text-muted" i18n="@@i18n.projects.useCompanyDefault">use company default</span>
                    }
                </div>
                @if (_project.getParam('INVOICE_PAYMENT_DURATION')) {
                    <div><i class="text-primary pointer" (click)="removePaymentDuration()" (keyup.enter)="removePaymentDuration()" tabindex="0">delete</i></div>
                }
            </li>
        </ul>
    </div>
}
