@let _stickies = stickies();
@let _groupedComments = groupedComments();
@let _hasActivity = hasActivity();
@let _showActivity = showActivity();
@let _availableChatTargets = availableChatTargets();

<div class="container">
    <scrollbar>
        <ng-content></ng-content>

        @if (_stickies && _stickies.length) {
            <div class="header" i18n="@@i18n.common.sticky">sticky</div>
        }
        @for (comment of _stickies; track 'sticky:' + (comment.id || comment.track_id)) {
            <tab-comment [comment]="comment" [nx]="comment" [tables]="_stickies"></tab-comment>
        }

        <div class="header d-flex align-items-center">
            <span class="flex-fill" i18n="@@i18n.common.comments">comments</span>
            @if (_hasActivity['GitLabPlugin'] || _hasActivity['MantisPlugin'] || _hasActivity['MattermostPlugin']) {
                <div class="d-flex gap-2 align-items-center">
                    <n class="pointer" [class.text-primary]="_showActivity['talvis']" [class.text-muted]="!_showActivity['talvis']" (click)="toggleActivity('talvis')" ngbTooltip="Toggle TALVIS comments" i18n-ngbTooltip="@@i18n.comments.toggleTalvisComments">nexus</n>
                    @if (_hasActivity['GitLabPlugin']) {
                        <n class="pointer" [class.text-primary]="_showActivity['GitLabPlugin']" [class.text-muted]="!_showActivity['GitLabPlugin']" (click)="toggleActivity('GitLabPlugin')" ngbTooltip="Toggle Git activity" i18n-ngbTooltip="@@i18n.comments.toggleGitActivity">git</n>
                    }
                    @if (_hasActivity['MantisPlugin']) {
                        <n class="pointer" [class.text-primary]="_showActivity['MantisPlugin']" [class.text-muted]="!_showActivity['MantisPlugin']" (click)="toggleActivity('MantisPlugin')" ngbTooltip="Toggle MantisBT activity" i18n-ngbTooltip="@@i18n.comments.toggleMantisActivity">mantis</n>
                    }
                    @if (_hasActivity['MattermostPlugin']) {
                        <n class="pointer" [class.text-primary]="_showActivity['MattermostPlugin']" [class.text-muted]="!_showActivity['MattermostPlugin']" (click)="toggleActivity('MattermostPlugin')" ngbTooltip="Toggle Mattermost activity" i18n-ngbTooltip="@@i18n.comments.toggleMattermostActivity">mattermost</n>
                    }
                </div>
            }
        </div>
        @for (group of _groupedComments; track group.date) {
            <div class="day-header text-muted small px-3 py-1">{{ group.header }}</div>
            @for (comment of group.comments; track 'comment:' + (comment.id || comment.track_id)) {
                <tab-comment [comment]="comment" [nx]="comment" [tables]="group.comments"></tab-comment>
            }
        }
    </scrollbar>
    <div class="input-container p-2 border-top d-flex gap-2 align-items-start">
        <div ngbDropdown placement="top-start" class="d-inline-block">
            <button type="button" class="btn btn-sm btn-outline-primary" ngbDropdownToggle>
                <n>{{ getTargetIcon() }}</n>
            </button>
            <div ngbDropdownMenu>
                <button ngbDropdownItem (click)="selectTarget('talvis')">
                    <n class="me-2">nexus</n>
                    <span i18n="@@i18n.comments.commentInTalvis">comment in TALVIS</span>
                </button>
                @for (target of _availableChatTargets; track target) {
                    <button ngbDropdownItem (click)="selectTarget(target)">
                        <n class="me-2">{{ target.icon() }}</n>
                        <span>{{ target.channelName || target.constructor.name.replace('Plugin', '') }}</span>
                    </button>
                }
            </div>
        </div>
        <textarea #commentTextarea class="form-control flex-fill" [placeholder]="getPlaceholder()" (keydown.control.enter)="onNew($event)" (input)="onTextareaInput($event)" style="resize: none; overflow-y: auto; min-height: 38px"></textarea>
    </div>
</div>
