:host {
  display: block;
}
.loader-container {
  padding: 5px auto;
  display: block;
  width: 100%;
  &.centered {
    text-align: center;
  }
}
.talvis-loader {
  display: inline-block;
  filter: drop-shadow(0 -1px 1px #fff2) drop-shadow(0 1px 1px #0009);
}
