<div class="card card-chart mb-3">
    <div class="card-header gap-2">
        <i>schedule</i>
        <span class="flex-fill text-truncate" i18n="@@i18n.common.customerSupport">customer support</span>
        @if (value()) {
            <div class="chart-title">{{ (value() ?? 0) | short }}h</div>
        }
    </div>

    <widget-options [options]="getOptions()" (updated)="_onUpdate($event)" (deleted)="onDelete($event)"></widget-options>

    @if (hasInvoicesModule()) {
        <echarts-range-card type="rangeArea" [chartData]="chartData()" [suffix]="' ' + global.currencySymbol()" [color]="['cyan', 'orange']" roles="invoicing"></echarts-range-card>
    }

    @if (!getOptions()['chart-only']?.value) {
        <ul-compact [badge]="badgeCount(data()) > 0 ? '' + badgeCount(data()) : undefined">
            @for (_ of data(); track _.id; let i = $index) {
                <li class="list-group-item d-flex text-nowrap" [nx]="_" [tables]="data()" [compact]="indexExceedsSettings(i) && !_.getBadge()">
                    <div>
                        <avatar [object]="_"></avatar>
                    </div>
                    <div class="flex-fill ms-3 text-truncate">
                        <div class="d-flex text-truncate">
                            <div class="flex-fill text-truncate">{{ _.getName() }}</div>
                            <div class="text-muted">{{ _.foci_unbilled_sum_duration | number: '1.1-1' }}h</div>
                        </div>
                    </div>
                </li>
            }
        </ul-compact>
    }
</div>
