<div class="card card-chart mb-3">
    @let _data = data();
    <div class="card-header gap-2">
        <n>invoice</n>
        <span class="flex-fill text-truncate" i18n="@@i18n.invoice.revenueCurrentYear">revenue current year</span>
        @if (_data) {
            <div class="chart-title">{{ _data.revenue | mshort }}</div>
        }
    </div>

    @if (_data) {
        <div class="card-body">
            @if (chartOptions()) {
                <div echarts [options]="chartOptions()" [initOpts]="{ height: 100 }" style="height: 100px"></div>
            }
            <div class="pt-2" [ngbTooltip]="tipContent" tooltipClass="flexible-tooltip">
                <progress-bar [height]="3" [progress]="_data.revenue / _data.expenses" [style]="'primary'" overStyle="success"></progress-bar>
            </div>
            <ng-template #tipContent>
                <ul class="list-group" style="width: auto !important">
                    <li class="list-group-item hstack text-nowrap gap-2">
                        <div class="text-truncate flex-fill text-start">
                            <span i18n="@@i18n.dashboard.revenueThisYear">revenue this year</span>
                            <span class="notranslate">:</span>
                        </div>
                        <div class="font-monospace text-end">{{ _data.revenue | money }}</div>
                    </li>
                    <li class="list-group-item hstack text-nowrap gap-2">
                        <div class="text-truncate flex-fill text-start">
                            <span class="notranslate">Ø </span>
                            <span i18n="@@i18n.widget-revenue-monthly">monthly revenue</span>
                            <span class="notranslate">:</span>
                        </div>
                        <div class="font-monospace text-end">{{ avgMonthlyRevenue() | money }}</div>
                    </li>
                    <li class="list-group-item hstack text-nowrap gap-2">
                        <div class="text-truncate flex-fill text-start">
                            <span class="notranslate">Ø </span>
                            <span i18n="@@i18n.dashboard.monthlyEarnings">monthly earnings</span>
                            <span class="notranslate">:</span>
                        </div>
                        <div class="font-monospace text-end">{{ avgMonthlyRevenue() - avgCostYtd() | money }}</div>
                    </li>
                    <li class="list-group-item hstack text-nowrap gap-2">
                        <div class="text-truncate flex-fill text-start">
                            <span i18n="@@i18n.dashboard.estimatedEarningsThisYear">estimated earnings this year</span>
                            <span class="notranslate">:</span>
                        </div>
                        <div class="font-monospace text-end">{{ (avgMonthlyRevenue() - avgCostYtd()) * 12 | money }}</div>
                    </li>
                </ul>
            </ng-template>
        </div>
    }
    <widget-options [options]="getOptions()" (updated)="_onUpdate($event)" (deleted)="onDelete($event)"></widget-options>
</div>
